@model Slid_App.Models.Slid

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Slid</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlidId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlidName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SlidUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SlidUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
